/*.search-filter {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    w
}*/

/*.filters-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}*/

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.combo-box-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.combo-box-label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.combo-box {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
}

.combo-box:hover {
    border-color: #888;
}

.slider-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.slider-group h5 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.slider-group input {
    width: 100%;
}
