.login-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    height: auto;

}

.form-containter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50vw;
    align-items: center;

}
.form-containter h2{
    font-size: 3em;
    margin-bottom: 20px;
    color: white;
    font-weight: 0.5;
    margin: 5vh;
}

.register {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    width: 10vw;
    margin-bottom: 8vh;
    height: auto;
}

.register-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    max-width: 60vw;
}

.register-info-title {
    font-size: 3em;
    margin-bottom: 10px;
    font-weight: 700;
    color: black;
}

.register-info-title-2 {
    font-size: 6em;
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
}

.register-info-text {
    line-height: 1.5;
    margin-bottom: 1em;
}


.register-form {
    flex: 1;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
   
    min-width: 30vw;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
}

input {
    margin-bottom: 15px;
    padding: 10px;
   width: 400px;;
    font-size: 1em;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

form div {
 
    width: 100%;
    font-size: 1em;
  
}


button {
    padding: 15px;
    font-size: 1em;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #555;
}

input::placeholder {
    color: white;
    opacity: 1;
}