.custom-navbar {
    background-color: rgb(115, 100, 100);
    padding: 5px 20px;
  }

.navbar{
    background-color: rgba(185, 185, 185, 0)!important; 
    padding: 3vh  1vh 0vh 3vh;
}

.navbar-brand img {
    height: 40px;
  }

#navbarNav{
    justify-content: flex-end;
    align-items: end;
}
.navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
    margin-right: 15px;
    font-weight: bold;
  }
  
.navbar-nav .nav-link:hover {
    color: #000000 !important;  /* Change color on hover */
  }
  
@media (max-width: 991.98px) {
    .navbar-nav {
      margin-top: 10px;
    }
  }