.profile-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.profile-image {
  font-size: 60px; /* Tamaño más pequeño para el ícono del perfil */
  margin-right: 15px;
  border-radius: 120px;
  max-height: 200px;
  max-width: 200px;
  overflow: hidden;
  align-self: flex-start; /* Para alinear la imagen al inicio */
}

.profile-info {
  width: 100%; /* Para que ocupe todo el ancho disponible */
  display: flex;
  flex-direction: column;
}

.name-rating-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.profile-info h1 {
  font-size: 1.8rem; /* Tamaño más pequeño para el nombre */
  margin-bottom: 5px;
  color: #333;
  display: inline-block;
}

.edit-icon {
  margin-left: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  color: #333;
  display: inline-block;
}

.profile-rating {
  display: flex;
  align-items: center;
  font-size: 1rem; /* Tamaño más pequeño para el texto de Puntuación */
  margin-left: auto; /* Alineamos la puntuación a la derecha */
}

.profile-rating p {
  margin-right: 5px; /* Espacio entre "Puntuación" y estrellas */
}

.profile-rating .stars i {
  color: #FFD700;
  margin-right: 3px; /* Menor espaciado entre estrellas */
}

.profile-details {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9rem; /* Reducimos el tamaño de la fuente */
  margin-bottom: 20px; /* Margen inferior para la separación de la descripción */
}

.profile-details li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  color: #555;
}

.profile-details i {
  margin-right: 8px; /* Espacio entre ícono y texto */
}

/* Descripción */
.profile-description {
  width: 100%;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #ddd;
  font-size: 0.9rem; /* Tamaño más pequeño para la descripción */
  display: flex;
  justify-content: space-between;
}

.profile-description h3 {
  margin-right: 10px;
  font-size: 1rem;
  color: #333;
}

.profile-description p {
  color: #555;
  margin-left: 10px;
  flex: 1;
}

.edit-description-icon {
  font-size: 1rem;
  cursor: pointer;
  align-self: flex-end; /* Alineamos el ícono de edición al final */
}
